mixin picture(img, picturePath, size, alt, parent=false)

  picture
    source(type="image/webp" srcset=`
            ${picturePath}${img}.webp,
            ${picturePath}${img}@2x.webp 2x,
            ${picturePath}${img}@3x.webp 3x,
            ${picturePath}${img}@4x.webp 4x
          `)
    img(
      srcset=`
              ${picturePath}${img}@2x.jpg 2x,
              ${picturePath}${img}@3x.jpg 3x,
              ${picturePath}${img}@4x.jpg 4x
            `
      src=`${picturePath}${img}.jpg`
      alt=`${alt}`
      data-img-name=`${img}`
      loading="lazy"
    )&attributes({"width" : size.width, "height" : size.height, "class" : `${parent}__image`})
