mixin breadcrumbs

  -
    name = 'breadcrumbs'

  ul.breadcrumbs
    each item, index in data.breadcrumbs
      li.breadcrumbs__item

        -
          linkClassName = index === data.breadcrumbs.length - 1 ? `${name}__link ${name}__link--active` : `${name}__link`

        a(class=linkClassName href=item.reference) #{item.text}
