mixin button(modifier, text, parent, type='button')

  -
    const name = 'button'
    className = getClassName(name, parent)
    className += ` ${name}--${modifier}`

  if(modifier === 'shortcut')
    a(class=className href="#") #{text}
  else
    button(class=className type=type) #{text}
