mixin checkbox(obj)

  -
    const name = 'checkbox';
    className = obj.disabled ? `${name} ${name}--disabled` : name

  label(class=className)
    input(class=`${name}__control` type='checkbox' name=obj.name value=obj.value)&attributes({checked: obj.checked, disabled: obj.disabled})
    span(class=`${name}__label`) #{obj.text}
