mixin checkbox(obj, cls)

  -
    const name = 'checkbox';
    className = obj.disabled ? `${name} ${name}--disabled` : name
    className = cls ? `${cls} ${className}` : className

  label(class=className)
    input(class=`${name}__control` type='checkbox' name=obj.name value=obj.value)&attributes({
      checked: obj.checked, disabled: obj.disabled, id: obj.id
    })
    span(class=`${name}__label`) #{obj.text}
