include input

mixin filter-range(obj)

  -
    const name = 'filter-range'

  div(class=name id=`${name}--${obj.id}`)
    div(class=`${name}__input-interval`)
      +input({id: `field-${obj.id}-min`, name: `field-${obj.id}-min`, value: obj.firstValue, 'aria-label': obj.firstAriaLabel}, name)
      +input({id: `field-${obj.id}-max`, name: `field-${obj.id}-max`, value: obj.secondValue, 'aria-label': obj.secondAriaLabel}, name)
    div(class=`${name}__controls`)
      div(class=`${name}__rail`)
        div(class=`${name}__track`)
      button(class=`${name}__handle ${name}__handle--min` type='button')
        span.visually-hidden  #{obj.firstHandleText}
      button(class=`${name}__handle ${name}__handle--max` type='button')
        span.visually-hidden #{obj.secondHandleText}
    span(class=`${name}__value ${name}__value--min`) #{obj.minValue.toLocaleString()}
    span(class=`${name}__value ${name}__value--max`) #{obj.maxValue.toLocaleString()}
