include filter-range
include input
include checkbox
include radiobutton
include toggle

mixin filters-form(parent)

  -
    const name = 'filters-form';
    className = getClassName(name, parent)

  form(class=className action='#' method='GET')
    h3(class=`${name}__title`) Фильтры
    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Цена, ₽
      +filter-range({
        minValue: 900, maxValue: 15000, firstValue: 1290, id: 'price',
        secondValue: 5000, firstAriaLabel: 'Цена от', secondAriaLabel: 'Цена до', firstHandleText: 'Установить минимальную стоимость', secondHandleText: 'Установить максимальную стоимость'
      })
    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Удобства и услуги
      +input({name: 'services-search', placeholder: 'Поиск'}, name)
      +checkbox({name: 'services', value: 'kitchen', text: 'Кухня', checked: true})
      +checkbox({name: 'services', value: 'washer', text: 'Стиральная машина'})
      +checkbox({name: 'services', value: 'conditioner', text: 'Кондиционер', checked: true})
      +checkbox({name: 'services', value: 'drying-machine', text: 'Сушильная машина'})
      +checkbox({name: 'services', value: 'dishwasher', text: 'Посудомойка'})
      +checkbox({name: 'services', value: 'tv', text: 'Телевизор'})
      +checkbox({name: 'services', value: 'workspace', text: 'Рабочая зона', checked: true})
      +checkbox({name: 'services', value: 'fen', text: 'Фен', checked: true})
      +checkbox({name: 'services', value: 'fireplace', text: 'Камин'})
      +checkbox({name: 'services', value: 'crib', text: 'Детская кроватка'})
      +checkbox({name: 'services', value: 'iron', text: 'Утюг'})
      +checkbox({name: 'services', value: 'breakfast', text: 'Завтрак', disabled: true})
      +checkbox({name: 'services', value: 'beach', text: 'Пляж', disabled: true})

      button(class=`${name}__button ${name}__button--collapse` type='button')
        | Скрыть
        svg(width='10' height='6' role='presentation' hidden='true')
          use(href="#arrow-down-icon")

    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Площадь, м#[sup 2]
      +filter-range({
        minValue: 20, maxValue: 180, firstValue: 25, id: 'square', secondValue: 90,
        firstAriaLabel: 'Площадь от', secondAriaLabel: 'Площадь до', firstHandleText: 'Установить минимальную площадь',
        secondHandleText: 'Установить максимальную площадь'
      })
    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Язык хозяина
      +input({name: 'language-search', placeholder: 'Поиск'}, name)
      +checkbox({name: 'language', value: 'russian', text: 'Русский', checked: true})
      +checkbox({name: 'language', value: 'english', text: 'Английский'})
      +checkbox({name: 'language', value: 'german', text: 'Немецкий'})
      +checkbox({name: 'language', value: 'french', text: 'Французский'})

      button(class=`${name}__button` type='button')
        | Смотреть все
        svg(width='10' height='6' role='presentation' hidden='true')
          use(href="#arrow-down-icon")

    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Срок аренды
      +radiobutton({name: 'tenancy', value: 'day', text: 'Посуточно', checked: true})
      +radiobutton({name: 'tenancy', value: 'month', text: 'На несколько месяцев', disabled: true})
      +radiobutton({name: 'tenancy', value: 'year', text: 'От года'})
      +radiobutton({name: 'tenancy', value: 'tenancy-any', text: 'Любой'})
    fieldset(class=`${name}__fieldset`)
      legend(class=`${name}__caption`) Условия проживания
      +toggle('Можно с питомцами', 'housing-conditions', 'pets', true)
      +toggle('Можно с детьми', 'housing-conditions', 'kids')
      +toggle('Можно курить', 'housing-conditions', 'smoking')
    button(class='button button--simple button--reset-form' type='reset') Сбросить фильтры
