mixin form-field(modifiers = [], obj = {})

  -
    const name = 'form-field';
    let className = name;
    modifiers.forEach(item => className += ` ${name}--${item}`)

  label(class = className)
    span(class = `${name}__label`) #{obj.label}
    input(class = `${name}__control input` type=obj.type name=obj.name id=obj.id placeholder=obj.placeholder)
