include input

mixin form-field(modifiers = [], obj = {}, measuringUnit = fasle)

  -
    const name = 'form-field';
    let className = name;
    modifiers.forEach(item => className += ` ${name}--${item}`)

  label(class = className)
    if(measuringUnit)
      span(class = `${name}__label`) #{obj.label}
      p(class = `${name}__container`)
        +input(obj, name, true)
        span(class = `${name}__measuring-unit`) м<sup>2</sup>
    else
      span(class = `${name}__label`) #{obj.label}
      +input(obj, name)
