include input

mixin form-field(modifiers = [], obj = {}, measuringUnit = fasle, unit = 'м<sup>2</sup>')

  -
    const name = 'form-field';
    let className = name;
    modifiers.forEach(item => className += ` ${name}--${item}`)

  label(class = className)
    if(measuringUnit)
      span(class = `${name}__label`) #{obj.label}
      span(class = `${name}__control`)
        +input(obj, name, true)
        span(class = `${name}__measuring-unit`) #{unit}
    else
      span(class = `${name}__label`) #{obj.label}
      +input(obj, name)
