include social
include service-navigation
include payment
include logo

mixin page-footer-copyright
  p.page-footer__copyright  ООО «Хауз» © 2021 Все права защищены

mixin page-footer(isCompact = false)

  -
    const name = 'page-footer';
    className = isCompact ? `${name} ${name}--small` : `${name} ${name}--default`

  footer(class=className)
    if(!isCompact)
      .page-footer__content
        .page-footer__contacts
          +logo('page-footer')
          p.page-footer__description  Безопасный и надежный сервис онлайн-недвижимости №1 в России
          +social
        +service-navigation('page-footer')
        .page-footer__bottom
          +page-footer-copyright
          +payment
    else
      .page-footer__container
        +page-footer-copyright
        +payment
