include filters-form
include catalog
include pagination

mixin page-section(header={}, items=[], isShortCatalog=false, isPagination=false, isFilters=false)

  -
    const name = 'page-section'
    className = isFilters ? `${name} ${name}--grid` : name;

  section(class=className)
    header(class=`${name}__header`)
      h1(class=`${name}__title`)  #{header.title}
      if(header.subtitle)
        p(class=`${name}__subtitle`)  #{header.subtitle}
    if(isFilters)
      +filters-form(name)
    +catalog(items, isShortCatalog)
    if(isPagination)
      +pagination(name)
