mixin pagination

  -
    name = 'pagination'

  ul(class=name)

    li(class=`${name}__item`)
      a(class=`${name}__link ${name}__link--arrow-back ${name}__link--disabled` href='#')
        span.visually-hidden Назад
        svg(class=`${name}__img` width='8' height='14' fill='none' role='presentation' aria-hidden='true')
          path(d='M7 13 1 7l6-6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')

      li(class=`${name}__item`)
        a(class=`${name}__link ${name}__link--active` href='#') 1
      li(class=`${name}__item`)
        a(class=`${name}__link` href='#') 2
      li(class=`${name}__item`)
        a(class=`${name}__link` href='#') 3
      li(class=`${name}__item`)
        a(class=`${name}__link` href='#') 4

      li(class=`${name}__item`)
        span(class=`${name}__ellipsis`) ...

      li(class=`${name}__item`)
        a(class=`${name}__link` href='#') 25

    li(class=`${name}__item`)
      a(class=`${name}__link ${name}__link--arrow-forward` href='#')
        span.visually-hidden Вперёд
        svg(class=`${name}__img` width='8' height='14' fill='none' role='presentation' aria-hidden='true')
          path(d='m1 13 6-6-6-6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round')
