include ../templates/picture

mixin preview-photos(photos, parent=false)

  -
    const name = 'preview-photos'
    className = getClassName(name, parent)

  ul(class=className)
    -
      linkClassName = (item) => item.active ? `${name}__link ${name}__link--active` : `${name}__link`
    each item in photos
      li(class=`${name}__item`)
        a(class=linkClassName(item))
          +picture(item.img, 'img/card/', {width: 240, height: 144}, item.alt, name)
