include ../templates/picture

include rating
include capacity
include button
include favorite
include badge

mixin product-preview__title({rooms, square, storey})
  h2.product-preview__title #{rooms}-комн. кв., #{square} м
    sup 2
    | , #{storey} этаж

mixin product-preview(product, short)

  -
    const name = 'product-preview'

  article(class=name)
    a(class=`${name}__link` href=product.link)
      +product-preview__title(product.description)
      +picture(product, name)

    p(class=`${name}__location`) #{product.location}

    if(!short)
      div(class=`${name}__container`)
        +rating(product.rating)
        if(product.reviews)
          a(class=`${name}__reviews` href=product.link)
            | (&#32;
            span(class=`${name}__reviews-text`) #{product.reviews} #{inflictWord(product.reviews, ['Отзыв', 'Отзыва', 'Отзывов'])}
            | &#32;)
        else
          span(class=`${name}__reviews ${name}__reviews--empty`) Нет отзывов
      +capacity(name, product.capacity)
      ul(class=`${name}__features`)
        each item in product.features
          li(class=`${name}__feactures-item`) #{item}

    p(class=`${name}__price`) #{product.price.toLocaleString()}
      span(class=`${name}__price-currency`)  &#8381
      | /сутки

    +button('primary', name)
    +favorite(product.favorite, name)
    +badge(product.badge, name)
