include ../templates/picture

include rating
include reviews
include capacity
include button
include favorite
include badge

mixin product-preview__title({rooms, square, storey})
  h2.product-preview__title #{rooms}-комн. кв., #{square} м
    sup 2
    | , #{storey} этаж

mixin product-preview(product, isShort)

  -
    const name = 'product-preview'
    const className = isShort ? `${name} ${name}--short` : name

  article(class=className)
    a(class=`${name}__link` href=product.link)
      +product-preview__title(product.description)
      +picture(product.img, 'img/products/', {width: 380, height: 315}, product.title, name)

    p(class=`${name}__location`) #{product.location}

    if(!isShort)
      div(class=`${name}__rate`)
        +rating(product.rating)
        +reviews(product.reviews, product.link)
      +capacity(name, product.capacity)
      ul(class=`${name}__features`)
        each item in product.features
          li(class=`${name}__feactures-item`) #{item}

    p(class=`${name}__price`) #{product.price.toLocaleString()}
      span(class=`${name}__price-currency`)  &#8381
      | /сутки

    +button('primary', name)
    +favorite(product.favorite, name)
    +badge(product.badge, name)
