include ../templates/product-title

include link
include slider
include summary
include tabs

mixin product-card

    -
      const name = 'product-card'
      card = data['product-card']

    article(class=name)
      header(class=`${name}__header`)
        h1(class=`${name}__title`)
          +product-title(card.description)
        p(class=`${name}__time`) #{card.header.time}
        p(class=`${name}__location`) #{card.header.location}
          +link(card.header.link, 'Смотреть на карте', name)
      +slider(card, name)
      +summary(name)
      +tabs(name)
