include slider
include summary

mixin product-card

    -
      const name = 'product-card'
      card = data['product-card']

    article(class=name)
      header(class=`${name}__header`)
        h1(class=`${name}__title`) #{card.header.title}
        p(class=`${name}__time`) #{card.header.time}
        p(class=`${name}__location`) #{card.header.location}
          a(class=`${name}__map-link` href=card.header['map-link'])  Смотреть на карте
      +slider(card, name)
      +summary
