mixin progress

  -
    stages = [
      {name: 'Основные данные', condition: 'active'},
      {name: 'Удобства и условия', condition: 0},
      {name: 'Цена', condition: 0},
      {name: 'Тарифы', condition: 0},
      {name: 'Оплата', condition: 0},
    ]

    getItemName = (condition, name) => condition ? `${name} ${name}--${condition}` : name;

  ul.progress
    each stage, index in stages
      li(class=getItemName(stage.condition, 'progress__item') data-stage=`${index + 1}`) #{stage.name}
