mixin rate(value, link='#', small=false)

  -
    const name = 'rate'
    const className = small ? `${name} ${name}--small` : name

  if(value)
    a(class=className href=link)
      | (&#32;
      span(class=`${name}__text`) #{value} #{inflictWord(value, ['Отзыв', 'Отзыва', 'Отзывов'])}
      | &#32;)
  else
    span(class=`${className} ${name}--empty`) Нет отзывов
