mixin rating(value, modifier='medium')

  -
    name = 'rating'
    className = `${name} ${name}--${modifier}`

    color = '#F85A47';
    hiddenText = `Рейтинг ${value} из 5`

    if (!value) {
      color = '#979899';
      hiddenText = 'Нет рейтинга'
    }

  div(class = className)
    span.visually-hidden #{hiddenText}
    svg.rating__star(width='14' height='14' fill='none' role='presentation' aria-hidden='true')
      path(d='M13.976 5.293a.731.731 0 0 0-.23-.338.682.682 0 0 0-.37-.152l-3.978-.607L7.615.413a.722.722 0 0 0-.258-.301.676.676 0 0 0-.742 0 .721.721 0 0 0-.258.3L4.574 4.189l-3.977.615a.685.685 0 0 0-.351.164.734.734 0 0 0-.225.725.74.74 0 0 0 .184.34L3.092 8.96l-.699 4.156a.764.764 0 0 0 .03.413.729.729 0 0 0 .24.33.674.674 0 0 0 .758.047l3.565-1.953 3.565 1.953a.627.627 0 0 0 .322.088.678.678 0 0 0 .412-.139.727.727 0 0 0 .242-.323.763.763 0 0 0 .038-.409l-.7-4.156 2.888-2.926a.734.734 0 0 0 .215-.34.764.764 0 0 0 .008-.407ZM9.677 8.22a.764.764 0 0 0-.203.644l.504 3.073-2.628-1.463a.714.714 0 0 0-.658 0l-2.628 1.463.503-3.073a.764.764 0 0 0-.202-.644L2.267 6.025l2.943-.446a.682.682 0 0 0 .314-.132.724.724 0 0 0 .218-.27l1.244-2.789L8.3 5.183c.05.108.125.2.218.27.093.071.2.116.314.133l2.942.446L9.678 8.22Z' fill=color)
      path(d='M9.677 8.22a.764.764 0 0 0-.203.644l.504 3.073-2.628-1.463a.714.714 0 0 0-.658 0l-2.628 1.463.503-3.073a.764.764 0 0 0-.202-.644L2.267 6.025l2.943-.446a.682.682 0 0 0 .314-.132.724.724 0 0 0 .218-.27l1.244-2.789L8.3 5.183c.05.108.125.2.218.27.093.071.2.116.314.133l2.942.446L9.678 8.22Z' fill=color)

    if(value)
      span(class=`${name}__value`) #{value}
