mixin rating(value, modifier='medium', parent=false)

  -
    name = 'rating'
    className = `${name} ${name}--${modifier}`
    className = parent ? `${parent}__${name} ${className}` : className

    color = '#F85A47';
    hiddenText = `Рейтинг ${value} из 5`

    if (!value) {
      color = '#979899';
      hiddenText = 'Нет рейтинга'
    }

  div(class = className)
    span.visually-hidden #{hiddenText}
    img.rating__star(src=require('../../assets/img/icons/star.svg') width='14' height='14' alt='Рейтинг')
    if(value)
      span(class=`${name}__value`) #{value}
