mixin site-navigation

  -
    name = 'site-navigation';

  ul.site-navigation
    each item in data['site-navigation']
      li.site-navigation__item

        -
          linkClassName = item.active ? `${name}__link ${name}__link--active` : `${name}__link`

        a(class=linkClassName href=item.reference) #{item.text}
