include ../templates/picture
include preview-photos

mixin slider(obj, parent = false)

  -
    const name = 'slider'
    className = getClassName(name, parent)
    imgPath = 'img/card/'

  div(class=className)
    div(class=`${name}__viewport`)
      +picture(obj.pictures.main.img, 'img/card/', {width: 1080, height: 590}, obj.pictures.main.alt, name)
      button(class=`${name}__button ${name}__button--prev` type='button')
        svg(width='8' height='14' fill='none' role='presentation' aria-hidden='true')
          path(d='M7 13 1 7l6-6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='stroke: var(--color-accent)')
        span.visually-hidden Назад
      button(class=`${name}__button ${name}__button--next` type='button')
        svg(width='8' height='14' fill='none' role='presentation' aria-hidden='true')
          path(d='m1 13 6-6-6-6' stroke-width='2' stroke-linecap='round' stroke-linejoin='round' style='stroke: var(--color-accent)')
        span.visually-hidden Вперёд
    +preview-photos(obj.pictures['preview-items'], name)
