mixin social

  -
    const name = 'social'

  ul(class=`${name}`)

    li(class=`${name}__item`)
      a(class=`${name}__list` href='#')
        img(src=require('../../assets/img/icons/twitter.svg') width='15' height='13' alt='twitter')

    li(class=`${name}__item`)
      a(class=`${name}__list` href='#')
        img(src=require('../../assets/img/icons/facebook.svg') width='13' height='13' alt='facebook')

    li(class=`${name}__item`)
      a(class=`${name}__list` href='#')
        img(src=require('../../assets/img/icons/vk.svg') width='17' height='10' alt='vk')

    li(class=`${name}__item`)
      a(class=`${name}__list` href='#')
        img(src=require('../../assets/img/icons/instagram.svg') width='13' height='13' alt='instagram')
