mixin tariff-plan(obj)

  -
    const name = 'tariff-plan'
    className = obj.hit ? `${name} ${name}--hit` : name

  li(class = className)

    input.tariff-plan__control.visually-hidden(
      type='radio' name='tariff-plan' id=obj.id value=obj.id, aria-describedby=obj.id)&attributes({checked: Boolean(obj.active)}
    )

    label.tariff-plan__label(for=obj.id)
      span.tarrif-plan__header
        span.tariff-plan__title #{obj.title}
        span.tariff-plan__price #{obj.price}
      span.tariff-plan__options
        each item in obj.options
          span #{item}
