mixin toggle(text, inputName, value, isChecked = flase)

  -
    const name = 'toggle'

  label(class=name)
    span(class=`${name}__label`) #{text}
    input(class=`${name}__control` type='checkbox' name=inputName value=value)&attributes({checked: isChecked})
    span(class=`${name}__slider`)
